* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(145deg, #dbc6e4d7, #a7c9e0d7);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 40px;
    width: 600px;
    height: auto;
    border-radius: 25px;
    background-color: #dddddde5;
    box-shadow: inset -15px -15px 15px rgba(0, 0, 0, 0.3),
    inset 15px 15px 10px rgba(255, 255, 255),
    0 0 15px rgba(0, 0, 0, 0.3);
}
.timer{
    font-family: 'Digital Numbers', sans-serif;
    display: flex;
    align-items: self-end;
    justify-content: center;
    gap: 10px;
    
}
span, b{
    font-size: 45px;
    padding-bottom: 0;
    font-weight: bold;
}
span:last-child{
    font-size: 20px;
    text-align: bottom;
    padding-bottom: 4px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
button{
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 150px;
    outline: none;
    box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3),
    inset 5px 5px 10px rgba(219, 219, 219, 0.5),
    0 0 15px rgba(0, 0, 0, 0.3);
}
.start{
    background-color: green;
}
.reset{
    background-color: #f4b136;
    cursor: default;
    opacity: 0.6;
}
.reset:hover{
    cursor: default;
}